<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069054357284-n2ld157gacfi9qodu5dllt4uga3j6qp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069054357284-n2ld157gacfi9qodu5dllt4uga3j6qp9</string>
	<key>API_KEY</key>
	<string>AIzaSyBxF1u50qt3CgPRaOk9JleU5i3GL2sASU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1069054357284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobseeker</string>
	<key>PROJECT_ID</key>
	<string>jobseeker-878e8</string>
	<key>STORAGE_BUCKET</key>
	<string>jobseeker-878e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069054357284:ios:6cff4ba330df4c9e6b0db1</string>
</dict>
</plist>